<div class="main-container">
  <form [formGroup]="loginForm" class="form-container" (keyup.enter)="loginClick()">
    <div class="title">
      <h1>Login</h1>
    </div>
    <div class="main-container-inputs">
      <div class="container-input">
        <label for="username">Usuário</label>
        <div class="container-icon">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="email"
          ></mat-icon>
          <input type="text" id="username" formControlName="username" />
        </div>
      </div>
      <div class="container-input">
        <label for="password">Senha</label>
        <div class="container-icon">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="lock"
          ></mat-icon>
          <input type="password" id="password" formControlName="password" />
        </div>
        <p class="forgot-password">Esqueceu sua senha?</p>
      </div>
      <button type="button" (click)="loginClick()">Entrar</button>
    </div>
    <div class="title">
      <p>Ou Cadastre-se Através Do</p>
      <h2 style="cursor: pointer; font-weight: 700;" routerLink="/register">Cadastrar</h2>
    </div>
  </form>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#9b9b9b"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Entrando...</p>
</ngx-spinner>
