<app-header />
<div
  *ngIf="!data"
  style="
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 400px;
    margin: 0 auto;
  "
>
  <div class="skeleton-container-1">
    <div class="skeleton1">
      <ngx-skeleton-loader
        count="1"
        appearance="custom-content"
        class="skeleton"
      />
    </div>
    <div class="skeleton2">
      <ngx-skeleton-loader
        count="1"
        appearance="custom-content"
        class="skeleton"
      />
    </div>
  </div>
  <div class="skeleton3">
    <ngx-skeleton-loader
      count="1"
      appearance="custom-content"
      class="skeleton"
    />
  </div>
</div>
<div
  *ngIf="!data"
  style="
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
  "
>
  <div style="height: 100px; width: 100%; background: #00000010">
    <ngx-skeleton-loader
      count="1"
      appearance="custom-content"
      class="skeleton"
    />
  </div>
  <div style="height: 100px; width: 100%; background: #00000010">
    <ngx-skeleton-loader
      count="1"
      appearance="custom-content"
      class="skeleton"
    />
  </div>
</div>
<div
  *ngIf="!data"
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  "
>
  <div style="height: 100px; width: 49%; background: #00000010">
    <ngx-skeleton-loader
      count="1"
      appearance="custom-content"
      class="skeleton"
    />
  </div>
  <div style="height: 100px; width: 49%; background: #00000010">
    <ngx-skeleton-loader
      count="1"
      appearance="custom-content"
      class="skeleton"
    />
  </div>
</div>

<div *ngIf="data" class="main-container">
  <div
    style="
      background-color: rgba(0, 0, 0, 0.13);
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
    "
  ></div>
  <div
    *ngFor="let article of data.articles; let i = index"
    (click)="adicionarItem(article)"
    style="display: flex; flex-direction: column; width: 100%"
  >
    <ng-container *ngIf="i === 1" style="width: 100%">
      <div target="_blank" class="first-container">
        <div class="container-info-1">
          <div>
            {{
              article.title.length > 100
                ? article.title.slice(0, 100) + "..."
                : article.title
            }}
          </div>
          <div>
            {{
              article.description.length > 100
                ? article.description.slice(0, 100) + "..."
                : article.description
            }}
          </div>
          <div>{{ article.publishedAt }}</div>
        </div>
        <div class="container-info-2">
          <img src="{{ article.urlToImage }}" />
          <div>{{ article.author }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    style="
      background-color: black;
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    "
  ></div>
  <div class="second-container">
    <div
      *ngFor="let article of data.articles.slice(4, 7); let i = index"
      (click)="adicionarItem(article)"
      class="row-container"
    >
      <div target="_blank" class="content-container">
        <img src="{{ article.urlToImage }}" />
        <div>
          {{
            article.title.length > 100
              ? article.title.slice(0, 100) + "..."
              : article.title
          }}
        </div>
        <div>
          {{
            article.description.length > 100
              ? article.description.slice(0, 100) + "..."
              : article.description
          }}
        </div>
      </div>
    </div>
  </div>
  <div
    style="width: 100%; height: 1px; margin-bottom: 10px; margin-top: 10px"
  ></div>
  <div class="third-container">
    <div
      *ngFor="let article of data.articles.slice(7, 11); let i = index"
      (click)="adicionarItem(article)"
      class="column-container"
    >
      <div target="_blank" class="content-container">
        <div>
          {{
            article.title.length > 100
              ? article.title.slice(0, 100) + "..."
              : article.title
          }}
        </div>
        <div>
          {{
            article.description.length > 100
              ? article.description.slice(0, 100) + "..."
              : article.description
          }}
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      background-color: black;
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    "
  ></div>
  <div
    *ngFor="let article of data.articles; let i = index"
    (click)="adicionarItem(article)"
    style="display: flex; flex-direction: column; width: 100%; cursor: pointer"
  >
    <ng-container *ngIf="i === 12" style="width: 100%">
      <div target="_blank" class="fourth-container">
        <div class="container-info-2">
          <img src="{{ article.urlToImage }}" />
          <div>{{ article.author }}</div>
        </div>
        <div class="container-info-1">
          <div>
            {{
              article.title.length > 100
                ? article.title.slice(0, 100) + "..."
                : article.title
            }}
          </div>
          <div>
            {{
              article.description.length > 100
                ? article.description.slice(0, 100) + "..."
                : article.description
            }}
          </div>
          <div>{{ article.publishedAt }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    style="width: 100%; height: 1px; margin-bottom: 10px; margin-top: 10px"
  ></div>
  <div
    *ngFor="let article of data.articles; let i = index"
    (click)="adicionarItem(article)"
    style="display: flex; flex-direction: column; width: 100%; cursor: pointer"
  >
    <ng-container *ngIf="i === 13" style="width: 100%">
      <div target="_blank" class="fourth-container">
        <div class="container-info-2">
          <img src="{{ article.urlToImage }}" />
          <div>{{ article.author }}</div>
        </div>
        <div class="container-info-1">
          <div>
            {{
              article.title.length > 100
                ? article.title.slice(0, 100) + "..."
                : article.title
            }}
          </div>
          <div>
            {{
              article.description.length > 100
                ? article.description.slice(0, 100) + "..."
                : article.description
            }}
          </div>
          <div>{{ article.publishedAt }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    style="
      background-color: black;
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    "
  ></div>
  <div
    *ngFor="let article of data.articles; let i = index"
    (click)="adicionarItem(article)"
    style="display: flex; flex-direction: column; width: 100%; cursor: pointer"
  >
    <ng-container *ngIf="i === 14" style="width: 100%">
      <div target="_blank" class="fourth-container">
        <div class="container-info-2">
          <img src="{{ article.urlToImage }}" />
          <div>{{ article.author }}</div>
        </div>
        <div class="container-info-1">
          <div>
            {{
              article.title.length > 100
                ? article.title.slice(0, 100) + "..."
                : article.title
            }}
          </div>
          <div>
            {{
              article.description.length > 100
                ? article.description.slice(0, 100) + "..."
                : article.description
            }}
          </div>
          <div>{{ article.publishedAt }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    style="
      background-color: black;
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    "
  ></div>
  <div class="second-container">
    <div
      *ngFor="let article of data.articles.slice(11, 14); let i = index"
      class="row-container"
      (click)="adicionarItem(article)"
    >
      <div target="_blank" class="content-container">
        <img src="{{ article.urlToImage }}" />
        <div>
          {{
            article.title.length > 100
              ? article.title.slice(0, 100) + "..."
              : article.title
          }}
        </div>
        <div>
          {{
            article.description.length > 100
              ? article.description.slice(0, 100) + "..."
              : article.description
          }}
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      background-color: black;
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    "
  ></div>
  <div
    *ngFor="let article of data.articles; let i = index"
    (click)="adicionarItem(article)"
    style="display: flex; flex-direction: column; width: 100%; cursor: pointer"
  >
    <ng-container *ngIf="i === 15" style="width: 100%">
      <div target="_blank" class="fifth-container">
        <div class="container-info-2">
          <img src="{{ article.urlToImage }}" />
        </div>
        <div class="container-info-1">
          <div>
            {{
              article.title.length > 100
                ? article.title.slice(0, 100) + "..."
                : article.title
            }}
          </div>
          <div>
            {{
              article.description.length > 100
                ? article.description.slice(0, 100) + "..."
                : article.description
            }}
          </div>
          <div>{{ article.publishedAt }}</div>
          <div>{{ article.author }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    style="
      background-color: black;
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    "
  ></div>
  <div class="second-container">
    <div
      *ngFor="let article of data.articles.slice(16, 19); let i = index"
      class="row-container"
      (click)="adicionarItem(article)"
    >
      <div target="_blank" class="content-container">
        <img src="{{ article.urlToImage }}" />
        <div>
          {{
            article.title.length > 100
              ? article.title.slice(0, 100) + "..."
              : article.title
          }}
        </div>
        <div>
          {{
            article.description.length > 100
              ? article.description.slice(0, 100) + "..."
              : article.description
          }}
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      background-color: black;
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    "
  ></div>
  <div class="second-container">
    <div
      *ngFor="let article of data.articles.slice(20, 23); let i = index"
      class="row-container"
      (click)="adicionarItem(article)"
    >
      <div target="_blank" class="content-container">
        <img src="{{ article.urlToImage }}" />
        <div>
          {{
            article.title.length > 100
              ? article.title.slice(0, 100) + "..."
              : article.title
          }}
        </div>
        <div>
          {{
            article.description.length > 100
              ? article.description.slice(0, 100) + "..."
              : article.description
          }}
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#9b9b9b"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
