<div *ngIf="data" class="main-container">
  <div
    *ngFor="let article of data.articles; let i = index"
    style="display: flex; flex-direction: column; width: 100%"
  >
    <ng-container *ngIf="i > 0 && i < 2" style="width: 100%">
      <div
        style="
          margin-bottom: 2px;
          width: 100%;
          height: 1px;
          background-color: black;
        "
      ></div>
      <div style="width: 100%; height: 1px; background-color: black"></div>
      <a href="{{ article.url }}" target="_blank" class="first-container">
        <div class="container-info-1">
          <div>
            {{
              article.title.length > 100
                ? article.title.slice(0, 100) + "..."
                : article.title
            }}
          </div>
          <div>
            {{
              article.description.length > 100
                ? article.description.slice(0, 100) + "..."
                : article.description
            }}
          </div>
          <div>{{ article.publishedAt }}</div>
        </div>
        <div class="container-info-2">
          <img src="{{ article.urlToImage }}" />
          <div>{{ article.author }}</div>
        </div>
      </a>
      <div
        style="
          margin-bottom: 3px;
          width: 100%;
          height: 1px;
          background-color: black;
        "
      ></div>
      <div style="width: 100%; height: 1px; background-color: black"></div>
    </ng-container>
  </div>

  <div class="second-container">
    <div
      *ngFor="let article of data.articles.slice(2, 5); let i = index"
      class="row-container"
    >
      <a href="{{ article.url }}" target="_blank" class="content-container">
        <img src="{{ article.urlToImage }}" />
        <div>
          {{
            article.title.length > 100
              ? article.title.slice(0, 100) + "..."
              : article.title
          }}
        </div>
        <div>
          {{
            article.description.length > 100
              ? article.description.slice(0, 100) + "..."
              : article.description
          }}
        </div>
      </a>
    </div>
  </div>
</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#9b9b9b"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Entrando...</p>
</ngx-spinner>
